<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let e of equipos">
      {{ e.nombre_equipo }} - {{ e.region }}
      <ion-buttons slot="end">
        <ion-button (click)="goToUpdateEquipo(e)">Actualizar</ion-button>
        <ion-button (click)="deleteEquipo(e.id)">Borrar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button (click)="goToAddEquipo()" color="primary" expand="full">
    Añadir Equipo
  </ion-button>

  <ion-button (click)="goToHome()" color="primary" expand="full">
    Ir al Inicio
  </ion-button>
</ion-content>
