<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-content class="ion-padding">
    <ion-toolbar>
      <ion-buttons slot="">
        <ion-button (click)="navigateTo('jugador')">Ver Jugadores</ion-button>
        <ion-button (click)="navigateTo('jugador-add')">Añadir Jugador</ion-button>
        <ion-button (click)="navigateTo('equipo')">Ver Equipos</ion-button>
        <ion-button (click)="navigateTo('equipo-add')">Añadir Equipo</ion-button>
        <ion-button (click)="navigateTo('torneo')">Ver Torneos</ion-button>
        <ion-button (click)="navigateTo('torneo-add')">Añadir Torneo</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-list>
      <ion-item *ngFor="let jugador of jugadores">
        {{ jugador.nombre_jugador }} - {{ jugador.rol }} - {{ jugador.nacionalidad }} - {{ jugador.idEquipo }}
        <ion-buttons slot="end">
          <ion-button (click)="goToUpdateJugador(jugador)">Actualizar</ion-button>
          <ion-button (click)="deleteJugador(jugador.id)">Borrar</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-content>